@model IEnumerable<ProyectoFinal.Models.Nominas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mesAno.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mesAno.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mesAno.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mesAno.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoTotal)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
