<br />
<div class="container animated bounce ">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card" align="center">
                <div class="card-header bg-success text-white">
                    <h3 class="display-4 text-center">Informes</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/img/logo-informes.png" alt="Alternate Text" height="200" />
                        </div>
                        <div class="col-md-7">
                            <br />
                            <p>
                                En este modulo se tendra la opción de generar uno o varios informes
                                dependiendo las necesidades o lo que desee saber, esto con el objetivo
                                de llevar un control en el area de recursos humanos.
                            </p>
                        </div>
                    </div>


                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Create", "Salidas")">
                        <b>Nóminas</b>
                    </a>
                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Create", "Salidas")">
                        <b>Empleados Activos</b>
                    </a>
                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Create", "Salidas")">
                        <b>Empleados Inactivos</b>
                    </a>
                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Lista", "Departamentos")">
                        <b>Departamentos</b>
                    </a>
                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Lista", "Cargos")">
                        <b>Cargos</b>
                    </a>
                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Create", "Salidas")">
                        <b>Permisos Otorgados</b>
                    </a>
                    <a class="text-white btn btn-success btn-block" href="@Url.Action("Create", "Salidas")">
                        <b>Entrada de Empleados por Mes</b>
                    </a>

                    <a class="text-white btn btn-success btn-block" href="Empleadoes/Create">
                        <b>Salida de Empleados por Mes</</b>
                    </a>



                </div>
            </div>
        </div>

    </div>
</div>



