<br />
<div class="container animated zoomInUp ">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card" align="center">
                <div class="card-header bg-info text-white">
                    <h3 class="display-4 text-center">Procesos</h3>
                </div>
                <div class="card-body">
                    <img src="~/img/imagen-cabecera.svg" alt="Alternate Text" height="200" />
                    <p>
                        En este modulo se van a configurar algunos procesos o acciones. Vale decir que
                        estos procesos o acciones son registrados en respectivas tablas.
                    </p>
                    <a class="text-white btn btn-info btn-block" href="@Url.Action("Create", "Nominas")">
                        <b>Cálculo de Nómina</b>
                    </a>
                    <a class="text-white btn btn-info btn-block" href="@Url.Action("Create", "Salidas")">
                        <b>Registro de Salidas</b>
                    </a>
                    <a class="text-white btn btn-info btn-block" href="@Url.Action("Create", "Vacaciones")">
                        <b>Registro Vacaciones</b>
                    </a>
                    <a class="text-white btn btn-info btn-block" href="@Url.Action("Create", "Permisos")">
                        <b>Registro de Permisos</b>
                    </a>
                    <a class="text-white btn btn-info btn-block" href="@Url.Action("Create", "Licencias")">
                        <b>Registro de Licencias</b>
                    </a>

                </div> 
            </div>
        </div>

    </div>
</div>

