@model ProyectoFinal.Models.Salidas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Salidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.codigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.codigoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
