@model IEnumerable<ProyectoFinal.Models.Empleados>


@{
    ViewBag.Title = "EntradaMes";
}

<br />

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h5>Entrada de Empleados por Mes</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <label class="control-label">Filtrar por Mes:</label>
                        <div class="row">
                            <div class="col-md-5">


                                @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-5 ">

                                <input type="submit" value="Buscar" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                    <br />
                    <table class="table">
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.codigoEmpleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Cargos.Cargo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Departamentos.Nombre)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.fechaIngreso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Salario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estatus)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.codigoEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Cargos.Cargo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Departamentos.Nombre)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaIngreso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estatus)
                                </td>

                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>





