@model ProyectoFinal.Models.Vacaciones

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-secondary text-white text-center">
                        <h5>Solicitud de Vacaciones</h5>
                        <h6>@Html.ActionLink("Ir a Listado de Solicitudes", "Index")</h6>
                    </div>
                    <div class="card-body">

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Empleado, "Empleado", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("Empleado", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Empleado, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Desde, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Desde, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Desde, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Hasta, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Hasta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Hasta, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.correspondiente, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.correspondiente, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.correspondiente, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextAreaFor(m => m.Comentarios, new { @class = "form-control" })
                                        @*@Html.EditorFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" align="center">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Registrar Vacaciones" class="btn btn-primary btn-block" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}


   

