@model IEnumerable<ProyectoFinal.Models.Licencias>

@{
    ViewBag.Title = "Index";
}


<br />

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h5>Listado de Licencias</h5>
                    <h6>@Html.ActionLink("Nueva Solicitud", "Create")</h6>
                </div>
                <div class="card-body">
                    <table class="table text-center">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Empleados.codigoEmpleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Desde)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hasta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Motivo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comentarios)
                            </th>
                            <th>
                                <p>Opciones</p>
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Empleados.codigoEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Desde)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hasta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Motivo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comentarios)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

